<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        
    </head>

    <body>
        <section class="header">
            <div class="header-top">
                <div class="logo-inline">
                    <div class="logo-background">
                        <div><img src="../assets/logo.png" alt=""></div>
                    </div>
                    <div class="company-name">
                        <h2>SWEETHOME ADMIN</h2>
                    </div>
                </div>
                <div class="header-cart-account">
                    <ul>
                        <li><button><i class="fas fa-search"></i></button>
                        </li>
                        <li><button><img style="width:fit-content" src="../assets/admin.png" alt=""><br><span>Admin </span></button></li>
                    </ul>
                </div>
            </div>
            <nav class="mobile-menu">
                <label for="show-menu" class="show-menu">
                    <span></span>
                    <div class="lines"></div>
                </label>
                <input type="checkbox" id="show-menu">
                <ul id="menu">
                    <li><a [routerLink]="'products'">SẢN PHẨM</a></li>
                    <li> <a [routerLink]="'orders'">ĐƠN HÀNG</a> </li>
                    <li> <a [routerLink]="'customers'">KHÁCH HÀNG</a> </li>
                </ul>
            </nav>
        </section>
        <section>
            <div class="container">
                <div class="title">QUẢN LÝ SẢN PHẨM</div>
                <div class="row">
                    <div class="search">
                        Search &nbsp;
                        <input style="width:250px" type="text" #category>
                    </div>
                    <div class="filter">
                        <app-filter-product></app-filter-product>
                    </div>
                </div>
                <app-add-product></app-add-product>
            </div>
        </section>
        <section>
            <app-products></app-products>
        </section>
    </body>
</html>
<!-- <router-outlet></router-outlet>-->
<router-outlet></router-outlet> 
